@import "../lib/bootstrap/less/bootstrap.less";
@themeColor: #9ebad7;

body {
	padding-top: 70px;
	padding-bottom: 20px;
}

#main-container {
	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 0;
		}
	}
	
	@media (max-width: @screen-xs-max) {
		padding-top: 30px;
		margin-top: -20px;
		margin-bottom: -20px;
	}
}

@media(min-width: @screen-sm-min) {
	.post-container {
		display: table;
		width: 100%;
		
		>.post {
			display: table-row;
			
			>p {
				display: table-cell;
			}
		}
	}
}

.post-container {
	>.post {
		>p {
			&.timestamp {
				@media(max-width: @screen-sm-max) {
					display: none;
				}
			}
		}
	}
}

/*
.navbar {
	.date-nav {
		float:right !important;
		
		@media @desktopDown { float:none; }
	}
}

#main-container {
	padding-bottom:20px;
	
	.date-nav {
		display:table;
		width:100%;
		
		li {
			display:table-cell;
			float:none;
			width:1%;
			
			&:last-child { text-align:right; }
		}
	}
}

.characters {
	li {
		height:135px;
	}
	
	.character {
		display:block;
		background-color:#fff;
		color:#333;
		
		&:hover {
			text-decoration:none;
		}
	}
	
	.avatar {
		height:100px;
		width:100px;
		float:left;
		overflow:hidden;
		border:1px solid #ccc;
		border-radius:20px;
		
		img {
			min-width:100%;
			min-height:100%;
		}
	}
	.profile {
		overflow:hidden;
		padding:5px;
		padding-left:10px;
		
		h4 {
			margin:0;
			margin-bottom:5px;
			
			a {
				display:block;
			}
		}
	}
}

.post-container {
	display:table;
	width:100%;
	border-spacing: 0 1em;
	
	.post {
		display:table-row;
		
		.nickname {
			display:table-cell;
			font-weight:200;
			
			@media @phoneUp {
				min-width:100px;
				text-align:right;
				font-size:0.9em;
				padding-right:0.5em;
			}
		}
		.text {
			display:table-cell;
			font-weight:450;
		}
		.timestamp {
			display:table-cell;
			text-align:right;
			font-family:monospace;
			font-size:0.75em;
			
			@media @tabletDown {
				display:none;
			}
		}
	}
	
	@media @phoneDown {
		display:block;
		
		.post {
			display:block;
			margin:0;
			padding:10px 0;
			
			.nickname {
				display:block;
				text-align:left;
			}
			.text {
				display:block;
				padding-left:1em;
			}
		}
	}
}*/

@import "util";
@import "theme";
