@desktopUp: ~"(min-width: 980px)";
@desktopDown: ~"(max-width: 979px)";
@tabletUp: ~"(min-width: 768px)";
@tabletDown: ~"(max-width: 767px)";
@phoneUp: ~"(min-width: 480px)";
@phoneDown: ~"(max-width: 479px)";

body {
	@media @desktopUp {
		padding-top:60px;
	}
}

#main-container {
	padding-bottom:20px;
}

.character {
	img {
		height:50px;
	}
}

.post-container {
	display:table;
	width:100%;
	border-spacing: 0 0.5em;
	
	.post {
		display:table-row;
		
		.nickname {
			display:table-cell;
			font-weight:200;
			font-size:0.9em;
			
			@media @phoneUp {
				min-width:100px;
				text-align:right;
				
				&:after {
					content:" ";
					white-space:pre;
				}
			}
		}
		.text {
			display:table-cell;
			font-weight:450;
		}
		.timestamp {
			display:table-cell;
			text-align:right;
			font-family:monospace;
			font-size:0.75em;
			
			@media @tabletDown {
				display:none;
			}
		}
	}
	
	@media @phoneDown {
		display:block;
		
		.post {
			display:block;
			margin:0;
			padding:10px 0;
			
			.nickname {
				display:block;
				text-align:left;
			}
			.text {
				display:block;
				padding-left:1em;
			}
		}
	}
}
