@themeColor: #9ebad7;

body {
	background: @themeColor url('../img/background.png') fixed;
}

.navbar-fixed-top {
	max-height: 50px;
	overflow: hidden;
}

#main-container {
	background-color: rgba(255,255,255,0.85);
	padding: 20px 25px;
	
	@media(min-width: @screen-sm-min) {
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
}

.post-container {
	>.post {
		>p {
			font-size: 15px;
			margin-bottom: 1.5em;
			
			&.nickname, .mention {
				font-weight: 300;
			}
			
			&.nickname {
				font-size: 18px;
				margin-bottom: 0;
				border-bottom-width: 1px;
				border-bottom-style: dashed;
				margin-bottom: 5px;
			}
			&.text {
				padding-left: 10px;
			}
			&.timestamp {
				font-family: monospace;
				font-size: 12px;
				opacity: 0.5;
			}
		}
		
		&:last-child > p {
			margin-bottom: 0;
		}
	}
	
	@media(min-width: @screen-sm-min) {
		>.post {
			>p {
				padding-bottom: 1.2em;
				
				&.nickname {
					text-align: right;
					font-size: 15px;
					border: none;
				}
			}
			
			&:last-child > p {
				padding-bottom: 0;
			}
		}
	}
	
	@media(min-width: @screen-lg-min) {
		>.post {
			>p {
				&.nickname {
					min-width: 100px;
				}
			}
		}
	}
}



/*.navbar-fixed-top {
	margin-bottom:0;
	
	@media @desktopDown {
		position:relative;
		z-index:100;
	}
	
	@media @phoneDown {
		margin-left:0;
		margin-right:0;
	}
}

.navbar-inner {
	@media @phoneUp {
		background:rgba(255,255,255,0.85);
	}
}

#main-container {
	background-color:rgba(255,255,255,0.85);
	padding:20px 10px;
	
	@media @desktopUp {
		padding-top:20px;
	}
	
	@media @phoneUp {
		box-shadow:0 0 20px rgba(0,0,0,0.5);
		margin-top:20px;
		margin-bottom:20px;
		border-radius:10px;
	}
	
	@media @phoneDown {
		position:absolute;
		padding-top:51px;
		top:0;
		left:0;
		right:0;
		min-height:100%;
	}
}*/
