{% extends "base.html" %}
{% block title %}{{ date.strftime('%d %B %Y') }}{% endblock %}
{% block navextra %}
<ul class="nav date-nav visible-desktop">
	<li>
		{%- if back_date -%}
		<a href="{{ url_for('log.day', year=back_date.year, month=back_date.month, day=back_date.day) }}">&larr;&nbsp;Back</a>
		{%- else -%}
		&nbsp;
		{%- endif -%}
	</li>
	<li>
		{%- if next_date -%}
		<a href="{{ url_for('log.day', year=next_date.year, month=next_date.month, day=next_date.day) }}">Next&nbsp;&rarr;</a>
		{%- else -%}
		&nbsp;
		{%- endif -%}
	</li>
</ul>
{% endblock %}
{% block content %}
<ul class="nav nav-pills date-nav hidden-desktop">
	<li>
		{%- if back_date -%}
		<a href="{{ url_for('log.day', year=back_date.year, month=back_date.month, day=back_date.day) }}">&larr;&nbsp;Back</a>
		{%- else -%}
		&nbsp;
		{%- endif -%}
	</li>
	<li>
		{%- if next_date -%}
		<a href="{{ url_for('log.day', year=next_date.year, month=next_date.month, day=next_date.day) }}">Next&nbsp;&rarr;</a>
		{%- else -%}
		&nbsp;
		{%- endif -%}
	</li>
</ul>

<div class="post-container">
	{%- for post in posts %}
	<div class="post {{ post.character.username }}">
		<p class="nickname">{{ post.character.nickname }}:</p>
		<p class="text">{{ post.text }}</p>
		<p class="timestamp">[{{ post.posted.strftime("%H:%M") }}]</p>
	</div>
	{%- endfor %}
</div>

<ul class="nav nav-pills date-nav hidden-desktop">
	<li>
		{%- if back_date -%}
		<a href="{{ url_for('log.day', year=back_date.year, month=back_date.month, day=back_date.day) }}">&larr;&nbsp;Back</a>
		{%- else -%}
		&nbsp;
		{%- endif -%}
	</li>
	<li>
		{%- if next_date -%}
		<a href="{{ url_for('log.day', year=next_date.year, month=next_date.month, day=next_date.day) }}">Next&nbsp;&rarr;</a>
		{%- else -%}
		&nbsp;
		{%- endif -%}
	</li>
</ul>
{% endblock %}