<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}UNTITLED{% endblock %} - Mitakihara Original</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
	{%- if request.endpoint.startswith('log.') %}
	<link href="{{ url_for('log.data_characters_css') }}" rel="stylesheet" />
	{%- endif %}
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="{{ url_for('index') }}">Mitakihara Original</a>
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<ul class="nav nav-collapse collapse">
					<li><a href="{{ url_for('cast.index') }}">Cast</a></li>
					<li><a href="{{ url_for('wiki.index') }}">Wiki</a></li>
					<li><a href="{{ url_for('log.index') }}">Log</a></li>
				</ul>
				{% block navextra %}{% endblock %}
			</div>
		</div>
	</div>
	<div class="container" id="main-container">
		<div class="row">
			<div class="span12" id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>