{% extends "base.html" %}
{% block title %}Cast{% endblock %}
{% block content %}
{%- for category in categories %}
<h2>{{ category.title }}</h2>
<div class="characters">
	{% for character in category.characters|sort(attribute='name') %}
	<div class="character-container col-lg-4 col-md-4">
		<a href="{{ url_for('wiki.page', title=character.name.replace(' ', '_')) }}" class="character">
			<div class="avatar">
				<img src="{{ character.avatar_url.replace('_normal', '') }}" />
			</div>
			<div class="content">
				<h3>{{ character.name }}</h3>
				<p>{{ character.bio }}</h3>
			</div>
		</a>
	</div>
	{% endfor %}
</div>
{%- endfor %}
{% endblock %}
