{% extends "base.html" %}
{% block title %}Cast{% endblock %}
{% block content %}
{%- for category in categories %}
<h2>{{ category.title }}</h2>
<ul class="characters thumbnails">
	{%- for character in category.characters|sort(attribute='name') %}
	<li class="span4">
		<a href="{{ url_for('wiki.page', title=character.name.replace(' ', '_')) }}" class="character thumbnail clearfix">
			<div class="avatar">
				<img src="{{ character.avatar_url.replace('_normal', '') }}" />
			</div>
			<div class="profile">
				<h4>
					{{ character.name }}
				</h4>
				<p>{{ character.bio }}</p>
			</div>
		</a>
	</li>
	{%- endfor %}
</ul>
{%- endfor %}
{% endblock %}
